[Desktop Entry]
Name=Hanabie
Comment=Custom KDE Plasma 6 theme
X-KDE-PluginInfo-Author=Ookami
X-KDE-PluginInfo-Name=org.ookami.hanabie
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/LookAndFeel
Type=Service

